fastapi==0.110.1
email-validator==2.1.1 #para validar emalis con pydantic
uvicorn==0.29.0
pydantic==2.7.0
pydantic-settings==2.3.1 #agregar python-dotenv?
psycopg2==2.9.9
sqlalchemy==1.4.45
behave==1.2.6
passlib==1.7.4 #Esta y la siguiente dependencia son para el hasheo de contrasenas
bcrypt==3.1.7
cryptography==42.0.8
ecdsa==0.19.0
pyasn1==0.5.0
python-jose==3.3.0
rsa==4.9
python-multipart==0.0.6
pytz==2023.3
requests==2.31.0
Jinja2==3.1.2
pillow==10.4.0 #Para manipulacion de imagenes
python-dateutil===2.8.2
#selenium===4.22.0
#webdriver-manager==4.0.1