<!DOCTYPE html>
<html>
    <head>
        <!-- Link to Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
        <style>
            body {
                font-family: 'Roboto', sans-serif;
            }
        </style>
    </head>
    <body>
    	<div style="display: flex; align-items: center; justify-content: center; flex-direction: column"><h3>Verificación de Cuenta</h3>
        </div>
        <div style="margin-left: 25px; display: flex; align-items: left; justify-content: center; flex-direction: column">
            
            <br>
            <p>Bienvenido/a a ConvocArte.</p>
            <p>Por favor, si desea verificar su cuenta clickee en el siguiente enlace: <a  href="http://localhost/users/verification/?token={{access_token}}">Verificar Cuenta</a> </p>

            <p>En caso de no haberse registrado simplemente ignore el mensaje.</p>
            <p>Atte., <br>
            ConvocArte</p>
        </div>
    </body>
</html>